<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ExemploBD" connectionString="data source=DESKTOP-34F1MLC ; Integrated Security= SSPI; Initial Catalog=ExemploBD" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>